Checks: >
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  google-build-using-namespace,
  cppcoreguidelines-*,
  -readability-magic-numbers,
  -performance-enum-size,
  -modernize-use-auto,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -modernize-use-trailing-return-type

CheckOptions:
  # 네이밍 규칙
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.MemberPrefix
    value:           m
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.EnumPrefix
    value:           e
  - key:             readability-identifier-naming.EnumConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           s
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
